body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
img {
  position: relative;
  top: 10px;
  left: 10px;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto 0;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  cursor: pointer;
  float: left;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 25px 50px;
  position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 100%;
  background: #009688;
  position: absolute;
  left: 0;
  top: 20px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 50%;
  left: 25%;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content  h1 {
  font-size: 70px;
  margin-top: 80px;
}

.content p {
  margin: 20px auto;
  font-weight: bold;
  line-height: 25px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #FF0000;
  color: #fff;
  background: transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span {
  background: #FF0000;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom:0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

li.team {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

li.team:hover .team-nav {
  display: block;
}


.team-nav {
  border: 1px solid #fff;
  background-color: #fff;
  display: none;
  position: absolute;
  height: auto;
  top: 100%;
  transform:translateX(-35%);
  z-index: 1;
}

.team-nav a {
  color: black !important;
  font-weight: bold;
}

.team-nav span {
  background-color: transparent;
  display: block;
  padding: 0.5rem;
  position: relative;
  width: 10rem;
  border-radius: 0;
  text-align: center;
}

