html
{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(0,rgba(183, 243, 240, 0.5),rgb(119, 210, 238));
}
header
{
  font-family:serif;
  padding-top: 20px;
  text-align: center;
  font-size:40px ;
}
#first
{
  font-size:20px ;
  display:inline-block;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
}
img
{
  padding-top: 25px;
  padding-left: 43%;
  padding-bottom: 20px; ;
  width: 200px;
  height: 300px;
}
