*{box-sizing: border-box; margin: 0px; padding: 0px;} html, body {background-color: #E6E6E6; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: black; font-size: 16px; font-weight: 550; margin: 0px; overflow-x: hidden; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -moz-font-smoothing: antialiased; text-rendering: optimizeSpeed; -webkit-tap-highlight-color: rgba(0,0,0,0); -ms-tap-highlight-color: rgba(0,0,0,0); -moz-tap-highlight-color: rgba(0,0,0,0); } a {color: black; text-decoration: none; outline: none; } input, textarea, input[type="text"], input[type="password"], input[type="number"], input[type="search"], button[type="submit"], input[type="submit"] {-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; border-radius: 0; outline: none; } button, button[type="submit"], input[type="submit"], button[type="button"] {cursor: pointer; outline: none; } .ntrns {-webkit-transition: none !important; -moz-transition: none !important; -ms-transition: none !important; transition: none !important; } .hidden {height: 0px !important; padding: 0px !important; } .fleft {float: left !important; } .fright {float: right !important; } .op0 {opacity: 0 !important; } ::-webkit-scrollbar{width: .4rem;} ::-webkit-scrollbar:hover{width: .4rem;} ::-webkit-scrollbar-track{background-color: white; border-radius: 0px;} ::-webkit-scrollbar-thumb{background-color:#263E62; border-radius: 0px;} ::-webkit-scrollbar-thumb:hover{background-color:#19284A; border-radius: 0px;} ::-webkit-scrollbar-thumb:active{background-color:#19284A; border-radius: 0px;}
html, body
{
    background-image: url("./img19.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    overflow: hidden;
}
body
{
    animation: ShowPage 1s;
    animation-delay: -0.1s;
}
@keyframes ShowPage
{
	from { opacity: 0%; } 
	to { opacity: 100%; }
}
header nav
{
    background-color: rgba(13, 13, 13, .5);
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.6rem;
    padding: .2rem;
    backdrop-filter: blur(1rem);
    align-items: center;
    justify-content: center;
    gap: .2rem;
}
header nav a
{
    padding: .2rem;
    padding-bottom: .13rem;
    border-radius: .3rem;
}
header nav a img
{
    margin-bottom: -.25rem;
    margin-left: .05rem;
    width: 30px;
    filter: brightness(1.25);
    image-rendering: pixelated;
    transform: scale(0.8);
}
header nav a .search
{
    margin: .25rem;
    margin-bottom: .0rem;
    image-rendering: auto;
    width: 20px;
    transform: rotate3d(0, 0, 0, 180deg);
}
header nav a .egde
{
    image-rendering: auto;
    width: 65px;
    margin: -.15rem -1rem;
    margin-bottom: -.5rem;
}
header nav .ashop
{
    padding-top: 0rem;
    border-radius: .3rem;
}
header nav .ashop .shop
{
    image-rendering: auto;
    width: 70px;
    margin: -1.2rem -1.12rem;
    margin-right: -1.3rem;
    margin-bottom: -1.5rem;
}
header nav a:hover, header nav .ashop:hover
{
    -webkit-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    background-color: rgba(190, 190, 190, .13);
}
header nav a:active img
{
    -webkit-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    transform: scale(0.65);
}
main
{
    padding: 1rem;
}
main .content .iconList span
{
    display: block;
    margin-bottom: 1.5rem;
}
main .content .iconList a
{
    display: inline-block;
    padding: .2rem .8rem;
    padding-right: .7rem;
    color: white;
    text-align: center;
    font-size: .65rem;
    border-radius: .13rem;
    max-width: 5rem;
    width: 5rem;
}
main .content .iconList img
{
    margin-bottom: -.2rem;
}
main .content .iconList a br
{
    margin: .1rem;
}
main .content .iconList a:hover
{
    background-color: rgba(255, 255, 255, .2);
}
main .content .sticky-note
{
    position: relative;
    background-color: rgb(59, 59, 59);
    float: right;
    width: 20rem;
    height: 15rem;
    padding: 1rem;
    padding-top: 2.4rem;
    border: .03rem solid rgb(80, 80, 80);
    border-radius: .5rem;
    box-shadow: 0rem 0rem 2rem .1rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
main .content .sticky-note::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: .7rem;
    background-color: rgb(248, 188, 22);
    z-index: 1;
    -webkit-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
main .content .sticky-note .sticky-navbar
{
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    height: 2rem;
    background-color: rgb(248, 188, 22);
    overflow: hidden;
    -webkit-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
main .content .sticky-note:hover::before
{
    visibility: hidden;
}
main .content .sticky-note:hover .sticky-navbar
{
    top: 0rem;
}
main .content .sticky-note .sticky-navbar button
{
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    border: none;
    margin-top: -.15rem;
    font-weight: normal;
    background-color: transparent;
}
main .content .sticky-note .sticky-navbar button.add-btn
{
    padding: 0rem .65rem;
    font-size: 2rem;
}
main .content .sticky-note .sticky-navbar button.close-btn
{
    padding: .2rem .65rem;
    font-weight: 500;
    font-size: 1.2rem;
}
main .content .sticky-note .sticky-navbar button.more-btn
{
    padding: .5rem .65rem;
    padding-bottom: .7rem;
    font-weight: 500;
}
main .content .sticky-note .sticky-navbar button:hover
{
    background-color: rgba(25, 25, 25, .11);
}
main .content .sticky-note a
{
    font-weight: normal;
    color: lightgray;
    display: block;
    font-size: .9rem;
    margin: .8rem 0rem;
}
main .content .sticky-note .sticky-footer
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .3rem;
    border-top: .1rem solid rgb(80, 80, 80);
    display: flex;
    gap: .65rem;
    align-items: flex-start;
}
main .content .sticky-note .sticky-footer button
{
    background-color: transparent;
    border: none;
    font-size: .95rem;
    padding: .5rem .6rem;
    color: rgb(202, 202, 202);
}
main .content .sticky-note .sticky-footer button:hover
{
    background-color: rgba(255, 255, 255, .1);
}