body {
  background-image: url(https://images.unsplash.com/photo-1607799279861-4dd421887fb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  backdrop-filter: blur(2px);
}
.full {
  margin-top: -15px;
  margin-bottom: -10px;
  margin-left: 0px;
  margin-right: -10px;
  width: 100%;
  height: 100vh;

  background-repeat: no-repeat;
}

.header {
  /* position: fixed; */
  margin-left: 250px;
  margin-right: 200px;
  margin-top: -0px;
  width: 1000px;
  height: 80px !important;
  display: inline-block;
}

#nav > li {
  display: inline-block;
  text-align: center;
  /* float: left; */
}

#nav li {
  position: relative;
}

#nav {
  margin-top: 5px;
  display: inline-block;
}

#nav > li > a {
  color: rgb(247, 82, 6);
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
}

#nav li a {
  text-decoration: none;
  display: block;
  line-height: 55px;
  padding: 0 20px;
  margin-left: 20px;
}

#nav > li:hover > a {
  /* #nav .subnav li:hover a { */
  color: #fff;
  background-color: pink;
  border-radius: 5px;
}

/* #nav .subnav { */
/* position: absolute; */
/* background-color: orange; */
/* list-style-type: none; */
/* top: 100%; */
/* width: 10px; */
/* left: 0; */
/* min-width: 100px; */
/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
/* display: none; */
/* } */

/* #nav li:hover .subnav {
  display: block;
} */

/* #nav .subnav a { */
/* color: black; */
/* padding: 0 12px; */
/* font-size: 30px; */
/* text-align: center; */
/* float: left; */
/* line-height: 38px; */
/* } */

#nav > li > a:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.3s;
  color: #fff;
}

.bao {
  margin-top: 50px;
  /* background-color: brown; */
  height: 500px;
}

.d1 {
  margin-top: 5px;
  margin-left: 150px;
  width: 700px;
  height: 500px;
  display: inline-block !important;
  /* background-color: #fff; */
}

.welcome {
  color: cyan;
  font-size: 85px;
  font-family: "Kaisei HarunoUmi", serif;
}

.welcome:hover {
  transform: scale(1.2);
  transition: all ease-in-out 0.3s;
  /* color: rgb(228, 163, 224); */
}

.para {
  font-size: 20px;
  color: #fff;
  font-family: "Quicksand", sans-serif;
}

.d2 {
  width: 300px;
  height: 340px;
  /* background-color: yellow; */
  margin-right: 100px;
  margin-top: 70px;
  float: right;
  flex: content;
  border-radius: 5px;
  /* display: inline-block !important; */
}
.d2:hover {
  background-color: #fff;
}

.contact {
  height: 50px;
  width: auto;
  /* background-color: tomato; */
}

.contact > h3 {
  margin-top: 25px;
  text-align: center;
  /* display: inline-block !important; */
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  /* color: red; */
}
.left {
  margin-top: 30px;
  margin-left: 40px;
  width: auto;
  height: 230px;
  /* background-color: rgb(233, 19, 233); */
  /* display: inline-block; */
}

a {
  text-decoration: none;
}

#i {
  width: 35px;
  height: 35px;
}

.f {
  margin-top: 25px;
  width: 200px;
  height: 30px;
  /* background-color: white; */
}

.f:hover {
  transform: scale(1.05);
  transition: all ease-in-out 0.2s;
}

.fa {
  font-size: 30px;
  width: 50px;
  width: 100px;
  float: right;
  margin-right: 55px;
  font-family: "Quicksand", sans-serif;
}

.fa > a {
  color: black;
}
