html
{
    background-image: url(https://st.quantrimang.com/photos/image/2018/03/23/lap-trinh-3.jpg) ;
    height: 100vh;
    background-repeat:no-repeat ;
    background-size: cover;
}
nav.navbar a
{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    color:rgb(243, 250, 242);
    float: right;
    margin: 10px;
    text-decoration: none;
}
nav.navbar a:hover
{
    color: rgb(251, 255, 7);
}
nav.first 
{
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    margin-top: 70px;
    margin-left:100px ;
}
#color
{
    color: rgb(11, 236, 198);
    transition:0.3s;
}
#color:hover
{
   transform: scale(1.1);
}

#b1
{
    font-style: italic;
    font-size: 20px;
    color:rgb(5, 0, 0);
    display: block;
    margin-top: -50px;
}