html
{
    background-image: url(https://images.unsplash.com/photo-1529797233791-cb08843aeac2?ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTR8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80) ;
    height: 100vh;
    background-repeat:no-repeat ;
    background-size: cover;
}
nav.navbar a
{
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;
    color:rgba(236, 221, 10, 0.993);
    float: right;
    margin: 10px;
    text-decoration: none;
}
nav.navbar a:hover
{
    color: rgb(42, 9, 230);
}
nav.first 
{
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    margin-top: 70px;
    margin-left:100px ;
}
#color
{
    color: rgb(79, 11, 236);
    transition:0.3s;
}
#color:hover
{
   transform: scale(1.1);
}

#b1
{
    font-style: italic;
    font-size: 20px;
    color:rgb(5, 0, 0);
    display: block;
    margin-top: -50px;
}